body {
    transition: 0.5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #262161;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.block {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visible {
    display: none;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border: 4px solid #fff;
    background-color: #fbaf41;
    border-radius: 8px;
    padding: 8px;
    gap: 10px;
}

.margin {
    margin: 10px;
}

input {
    width: 220px;
}

.btn {
    color: #fff;
    padding: 10px 30px;
    background-color: #ef3f37;
    border: none;
    border-radius: 5px;
}

.for-sum {
    display: flex;
    flex-direction: row;
    width: 120px;
    margin: 10px 10px;
}

.second-form {
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.equal-btn {
    color: #fff;
    background-color: #ef3f37;
    border: none;
    border-radius: 5px;
    width: 50px;
}

p {
    padding: 10px;
    margin: 0px;
    font-size: 14px;
}
p2 {
    font-size: 14px;
    margin: 0px;
}

.for-kmi {
    width: 200px;
}

.to-do-list {
    width: 100%;
}
input {
    border-radius: 5px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.input-list {
    flex-direction: row;
    text-align: center;
}
input::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 8px;
}
.input-list > input:focus {
    border: none;
}
ul {
    padding-inline-start: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:8px;
}
li {
    background-color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
}
@media (max-width: 526px) {
    .input-list{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .second-form {
        flex-direction: column;
    }
}
